.shift-modal{
    z-index:10;
    position: absolute;
    top: -170px;
    left:37rem;
    // background-image: url('../../assets/images/modal.png');

    &__drop{
        z-index:20;
    position: absolute;

    }

}

.rewardsContainer{
    display: flex;
    flex-direction: row; 

}