.shift-modal{
    z-index:10;
    position: absolute;
    top: -170px;
    left:37rem;
    // background-image: url('../../assets/images/modal.png');

    &__drop{
        z-index:20;
    position: absolute;

    }

}

.rewardsContainer{
    display: flex;
    flex-direction: row; 

}

.saveButton{
    
    position: absolute;

    // lefrt:37rem;
    right: 16px;
    top: 261px;
    // top: 
    // border: 1px solid red;
    z-index:12;

}

.cancelButtonDiv{
    /*
    
    position: absolute;
    //top: 170px;
    // left:37rem;
    right: -36rem;
    top: -17rem;
    */
    position: absolute;

    // lefrt:37rem;
    right: 25px;
    top: 261px;
    // top: 
    // border: 1px solid red;
    z-index:12;
    
}